.screen{
    width:350px;
    height:690px;
    border:10px solid black;
    border-radius:30px;
    position: relative;
    left: 40%;
    overflow: hidden;
    
    
}

.header{
    background:limegreen;
    height:70px;
    width: 345px;
    position: absolute;
    top: 0px;
   
    line-height: 50px;
    padding-top: 10px;
    padding-left: 5px;
   
    
}
.header i,
.header img,
.header span{
    display:inline-block;
    vertical-align:middle;
}

.header i{
    
     font-size: 25px;
     color: white;

     margin-right: 8px;

}

.header img{
   
    width: 40px;
    height: 40px;
   
    border-radius:50%;
    
    margin-right: 8px;
}

.name{
    
    font-size:25px;
    
}
.hleft {
   
    
    position:absolute;
    right:10px;
    top:0;
    bottom: 15px;
    line-height: 70px;
    

}
.hleft i{
    
    
    margin-left: 10px;
}

.chat{
    position: absolute;
    top: 80px;     
    bottom: 50px;  

    width: 100%;
    
     overflow-y: auto;
     
     padding: 10px;
}

.date{
    
    position: sticky;
    top: 0px;
    background-color: antiquewhite;
    width: 100px;
    height: 20px;
    border-radius: 10px;
    text-align: center;
    padding: 5px;
    font-size: 20px;
    margin-left:  110px;
    margin-bottom: 10px;
}

.right{
    background-color: grey;
    width:150px;
    padding:10px;
    border-radius:15px;
    margin-left: auto;
    /* margin-left:50%; */
    margin-bottom:10px;
}

.left{
    background-color: grey;
    width:150px;
    padding:10px;
    margin-left: 5px;
    border-radius:15px;
margin-left: 5px;
    margin-bottom:10px;
}
.footer{
    position: absolute;  
    bottom: 0;
    width: 100%;
    /* margin: 0%; */
    
}

.footer input{
    width: 98%;
    height:40px;
    border-radius:20px;
}